Repository bounswe/bounswe2024group5, pull requests merged in 2024-04, with the labels that each got.

#151 Implement authorization endpoints
  backend/pom.xml
  backend/src/main/java/com/melodify/melodify/config/WebSecurityConfig.java
  backend/src/main/java/com/melodify/melodify/controller/AuthenticationController.java
  backend/src/main/java/com/melodify/melodify/model/User.java
  backend/src/main/java/com/melodify/melodify/model/request/LoginRequest.java
  backend/src/main/java/com/melodify/melodify/model/request/RegisterRequest.java
  backend/src/main/java/com/melodify/melodify/model/response/LoginResponse.java
  backend/src/main/java/com/melodify/melodify/model/response/RegisterResponse.java
  backend/src/main/java/com/melodify/melodify/repository/UserRepository.java
  backend/src/main/java/com/melodify/melodify/security/WebSecurityConfig.java
  backend/src/main/java/com/melodify/melodify/security/jwt/AuthEntryPointJwt.java
  backend/src/main/java/com/melodify/melodify/security/jwt/AuthTokenFilter.java
  backend/src/main/java/com/melodify/melodify/security/jwt/JwtUtils.java
  backend/src/main/java/com/melodify/melodify/security/services/UserDetailsImpl.java
  backend/src/main/java/com/melodify/melodify/security/services/UserDetailsServiceImpl.java
  backend/src/main/java/com/melodify/melodify/service/AuthenticationService.java
  backend/src/main/resources/application.properties
  doc/api-doc.yml
  docker-compose.yml
Labels: priority: high, effort: high, back-end

#149 Database Table Creations
  database/migrations/202404242103_init.sql
Labels: database

#155 add wikidata api call
  backend/src/main/java/com/melodify/melodify/controller/SearchController.java
  doc/api-doc.yml
Labels: back-end
