Repository bounswe/bounswe2024group5, pull requests merged in 2024-11, with the labels that each got.

#347 Lab 5 Content
  backend/src/main/java/com/quizzard/quizzard/controller/WordCheckerController.java
  backend/src/main/java/com/quizzard/quizzard/model/English.java
  backend/src/main/java/com/quizzard/quizzard/repository/EnglishRepository.java
  doc/api-design.yml
  frontend/src/pages/list-quiz-page.tsx
  mobile/Quizzard/components/QuestionTypeDropdown.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: type: documentation, priority: high, effort: moderate, status: in progress, type: research, team: mobile, team: back-end, team: front-end

#352 LAB 6 - PR
  backend/src/main/java/com/quizzard/quizzard/controller/AutoCompleteController.java
  backend/src/main/java/com/quizzard/quizzard/model/English.java
  backend/src/main/java/com/quizzard/quizzard/repository/EnglishRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/AutoCompleteService.java
  doc/api-design.yml
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/create-quiz/word-input-with-question-template.tsx
  frontend/src/components/list-quizzes/featured-quiz-card.tsx
  frontend/src/components/list-quizzes/regular-quiz-card.tsx
  mobile/Quizzard/components/QuestionItem.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/database/types.ts
  mobile/Quizzard/package-lock.json
  mobile/Quizzard/screens/AuthProvider.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: status: in progress

#357 356 implement quiz attempts backend
  backend/src/main/java/com/quizzard/quizzard/controller/QuizAttemptController.java
  backend/src/main/java/com/quizzard/quizzard/model/QuizAttempt.java
  backend/src/main/java/com/quizzard/quizzard/model/request/QuizAttemptRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/response/QuizAttemptResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuizAttemptRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
  database/1-init.sql
  doc/api-design.yml
Labels: status: need review, team: back-end

#368 367 my quiz preview mobile
  mobile/Quizzard/components/QuestionTypeDropdown.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/package-lock.json
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/ProfileScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: effort: moderate, team: mobile

#363 358 implement question answers backend
  backend/src/main/java/com/quizzard/quizzard/controller/QuestionAnswerController.java
  backend/src/main/java/com/quizzard/quizzard/exception/AccessDeniedException.java
  backend/src/main/java/com/quizzard/quizzard/exception/DuplicateResourceException.java
  backend/src/main/java/com/quizzard/quizzard/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/quizzard/quizzard/exception/InvalidRequestException.java
  backend/src/main/java/com/quizzard/quizzard/exception/ResourceNotFoundException.java
  backend/src/main/java/com/quizzard/quizzard/model/QuestionAnswer.java
  backend/src/main/java/com/quizzard/quizzard/model/request/QuestionAnswerRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/UpdateAnswerRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/response/QuestionAnswerResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuestionAnswerRepository.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuestionRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/QuestionAnswerService.java
  doc/api-design.yml
Labels: team: back-end

#379 Lab 7
  backend/src/main/java/com/quizzard/quizzard/controller/PostController.java
  backend/src/main/java/com/quizzard/quizzard/model/Post.java
  backend/src/main/java/com/quizzard/quizzard/model/request/PostRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/response/PostResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/PostRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/PostService.java
  backend/src/test/java/com/quizzard/quizzard/controller/PostControllerTest.java
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: type: documentation, priority: moderate, effort: moderate, status: in progress, type: planning, type: testing

#388 Added file-upload functionality.
  backend/credentials-template.json
  backend/src/main/java/com/quizzard/quizzard/FileUploadConfig.java
  backend/src/main/java/com/quizzard/quizzard/controller/FileUploadController.java
  backend/src/main/java/com/quizzard/quizzard/service/FileUploadService.java
  backend/src/main/resources/application.properties
  doc/api-design.yml
  docker-compose.yml
Labels: priority: high, effort: low, status: completed, team: back-end

#386 384 implement backend for user profile
  backend/src/main/java/com/quizzard/quizzard/controller/ProfileController.java
  backend/src/main/java/com/quizzard/quizzard/model/request/ProfileRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/response/ProfileResponse.java
  backend/src/main/java/com/quizzard/quizzard/service/UserService.java
  doc/api-design.yml
Labels: team: back-end

#373 Backend difficulty algorithm
  backend/src/main/java/com/quizzard/quizzard/model/User.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuestionAnswerRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
  backend/src/main/java/com/quizzard/quizzard/service/UserService.java
Labels: priority: high, effort: high, status: need review, team: back-end, team: database

#394 Changed Forum Post Filters
  backend/src/main/java/com/quizzard/quizzard/controller/PostController.java
  backend/src/main/java/com/quizzard/quizzard/model/response/UpvoteResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/PostRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/PostService.java
  backend/src/main/java/com/quizzard/quizzard/service/ReplyService.java
  backend/src/main/java/com/quizzard/quizzard/service/UpvoteService.java
  doc/api-design.yml
Labels: team: back-end

#398 Registration problem resolved
  backend/src/main/java/com/quizzard/quizzard/controller/AuthenticationController.java
  backend/src/main/java/com/quizzard/quizzard/model/User.java
  backend/src/main/java/com/quizzard/quizzard/model/request/RegisterRequest.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
  backend/src/main/java/com/quizzard/quizzard/service/UserService.java
  database/1-init.sql
Labels: team: back-end

#401 Get the latest changes to the development branch
  backend/src/main/java/com/quizzard/quizzard/controller/AuthenticationController.java
  backend/src/main/java/com/quizzard/quizzard/model/User.java
  backend/src/main/java/com/quizzard/quizzard/model/request/RegisterRequest.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
  backend/src/main/java/com/quizzard/quizzard/service/UserService.java
  database/1-init.sql
Labels: team: mobile

#405 364 registration proficiency level
  mobile/Quizzard/screens/RegisterScreen.tsx
Labels: priority: moderate, status: need review, team: mobile

#408 389 quiz finish page
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/screens/QuizFinishScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: priority: high, effort: moderate, status: need review, team: mobile

#425 Auto-complete functionality backend
  backend/src/main/java/com/quizzard/quizzard/controller/AutoCompleteController.java
  backend/src/main/java/com/quizzard/quizzard/model/Category.java
  backend/src/main/java/com/quizzard/quizzard/model/Translate.java
  backend/src/main/java/com/quizzard/quizzard/model/Type.java
  backend/src/main/java/com/quizzard/quizzard/repository/EnglishRepository.java
  backend/src/main/java/com/quizzard/quizzard/repository/TurkishRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/AutoCompleteService.java
  doc/api-design.yml
Labels: priority: low, effort: low

#422 Favorite quizzes and questions
  backend/src/main/java/com/quizzard/quizzard/controller/FavoriteQuestionController.java
  backend/src/main/java/com/quizzard/quizzard/controller/FavoriteQuizController.java
  backend/src/main/java/com/quizzard/quizzard/model/FavoriteQuestion.java
  backend/src/main/java/com/quizzard/quizzard/model/FavoriteQuiz.java
  backend/src/main/java/com/quizzard/quizzard/model/request/FavoriteQuestionRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/FavoriteQuizRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/response/FavoriteQuestionResponse.java
  backend/src/main/java/com/quizzard/quizzard/model/response/FavoriteQuizResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/FavoriteQuestionRepository.java
  backend/src/main/java/com/quizzard/quizzard/repository/FavoriteQuizRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/FavoriteQuestionService.java
  backend/src/main/java/com/quizzard/quizzard/service/FavoriteQuizService.java
  doc/api-design.yml
Labels: priority: moderate, effort: moderate, status: completed, team: back-end

#428 427 implement correct answer suggestion endpoint
  backend/src/main/java/com/quizzard/quizzard/controller/AnswerSuggestionController.java
  backend/src/main/java/com/quizzard/quizzard/model/response/AnswerSuggestionResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/TranslateRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/AnswerSuggestionService.java
  doc/api-design.yml
Labels: team: back-end

#439 Autocomplete API Integration
  frontend/src/components/create-quiz/word-input-with-question-template.tsx
  frontend/src/components/forum/CreatePost.tsx
  frontend/src/hooks/api/autocomplete.ts
  frontend/src/pages/add-quiz-page.tsx
Labels: priority: high, status: completed, team: front-end

#443 fix(backend): small error about quiz score calculation fixed
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
Labels: team: back-end

#444 Added unit tests
  backend/src/main/java/com/quizzard/quizzard/model/request/ProfileRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/QuestionAnswerRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/QuizAttemptRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/UpdateQuizRequest.java
  backend/src/test/java/com/quizzard/quizzard/service/AnswerSuggestionServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/PostServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/QuestionAnswerServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/QuestionServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/QuizAttemptServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/QuizServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/ReplyServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/UpvoteServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/UserServiceTest.java
Labels: team: back-end

#440 test(backend): implemented some unit tests
  backend/src/main/java/com/quizzard/quizzard/repository/EnglishRepository.java
  backend/src/test/java/com/quizzard/quizzard/controller/AutoCompleteTest.java
  backend/src/test/java/com/quizzard/quizzard/controller/WordCheckerTest.java
  backend/src/test/java/com/quizzard/quizzard/service/FavoriteQuizServiceTest.java
Labels: priority: low, effort: low, status: completed, team: back-end, type: testing

#445 Subtle UI Fixes
  frontend/src/hooks/api/get-quizzes.ts
  frontend/src/pages/profile-page.tsx
  frontend/src/pages/sign-up.tsx
Labels: priority: urgent, effort: moderate, team: front-end

#449 Hotfix: Forum search Missing language parameter for Mobil
  mobile/Quizzard/components/QuestionItem.tsx
  mobile/Quizzard/database/types.ts
  mobile/Quizzard/screens/LoginScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
  mobile/Quizzard/screens/SearchWordsScreen.tsx
Labels: team: mobile

#453 Add Frontend Tests
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/forum/CreatePost.test.tsx
  frontend/src/pages/add-quiz-page.test.tsx
  frontend/src/pages/list-quiz-page.test.tsx
  frontend/src/pages/profile-page.test.tsx
  frontend/src/pages/solve-quiz-page.test.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Labels: priority: urgent, effort: high, team: front-end

#455 Update Results Page
  frontend/src/components/solve-quiz/quiz-result.tsx
  frontend/src/hooks/api/attempts/update.ts
  frontend/src/pages/solve-quiz-page.tsx
Labels: effort: high, team: front-end
