Repository bounswe/bounswe2024group5, pull requests merged in 2024-10, with the labels that each got.

#271 Update fahreddinozcan Image and README
  .github/images/members/fahreddin_square.JPG
  README.md
Labels: priority: moderate, effort: low

#273 272/mobile initialization
  .gitignore
  mobile/LearnEnglishApp/.gitignore
  mobile/LearnEnglishApp/README.md
  mobile/LearnEnglishApp/app.json
  mobile/LearnEnglishApp/app/_layout.tsx
  mobile/LearnEnglishApp/app/index.tsx
  mobile/LearnEnglishApp/assets/fonts/SpaceMono-Regular.ttf
  mobile/LearnEnglishApp/assets/images/adaptive-icon.png
  mobile/LearnEnglishApp/assets/images/icon.png
  mobile/LearnEnglishApp/assets/images/splash.png
  mobile/LearnEnglishApp/babel.config.js
  mobile/LearnEnglishApp/components/CustomButton.tsx
  mobile/LearnEnglishApp/components/CustomModal.tsx
  mobile/LearnEnglishApp/components/GradientBackground.tsx
  mobile/LearnEnglishApp/constants/Colors.ts
  mobile/LearnEnglishApp/database/NavigationTypes.ts
  mobile/LearnEnglishApp/database/types.ts
  mobile/LearnEnglishApp/hooks/useColorScheme.ts
  mobile/LearnEnglishApp/hooks/useColorScheme.web.ts
  mobile/LearnEnglishApp/hooks/useThemeColor.ts
  mobile/LearnEnglishApp/package-lock.json
  mobile/LearnEnglishApp/package.json
  mobile/LearnEnglishApp/screens/AuthProvider.tsx
  mobile/LearnEnglishApp/screens/HomeScreen.tsx
  mobile/LearnEnglishApp/screens/LoginScreen.tsx
  mobile/LearnEnglishApp/screens/RegisterScreen.tsx
  mobile/LearnEnglishApp/scripts/reset-project.js
  mobile/LearnEnglishApp/tsconfig.json
Labels: priority: high, effort: moderate, team: mobile

#275 274 - Frontend Project Initialization
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: priority: moderate, effort: moderate, status: in progress, team: front-end

#296 293 create quiz with in app mock data
  frontend/package-lock.json
  mobile/LearnEnglishApp/app/_layout.tsx
  mobile/LearnEnglishApp/screens/HomeScreen.tsx
  mobile/Quizzard/.gitignore
  mobile/Quizzard/README.md
  mobile/Quizzard/app.json
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/assets/fonts/SpaceMono-Regular.ttf
  mobile/Quizzard/assets/images/adaptive-icon.png
  mobile/Quizzard/assets/images/icon.png
  mobile/Quizzard/assets/images/splash.png
  mobile/Quizzard/babel.config.js
  mobile/Quizzard/components/BaseDropdown.tsx
  mobile/Quizzard/components/CustomButton.tsx
  mobile/Quizzard/components/CustomModal.tsx
  mobile/Quizzard/components/DifficultyLevelDropdown.tsx
  mobile/Quizzard/components/GradientBackground.tsx
  mobile/Quizzard/components/HomeScreenQuiz.tsx
  mobile/Quizzard/components/QuestionTypeDropdown.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/constants/Colors.ts
  mobile/Quizzard/database/NavigationTypes.ts
  mobile/Quizzard/database/types.ts
  mobile/Quizzard/hooks/useColorScheme.ts
  mobile/Quizzard/hooks/useColorScheme.web.ts
  mobile/Quizzard/hooks/useThemeColor.ts
  mobile/Quizzard/mockdata/mockQuizData.tsx
  mobile/Quizzard/package-lock.json
  mobile/Quizzard/package.json
  mobile/Quizzard/screens/AuthProvider.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/LoginScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
  mobile/Quizzard/screens/RegisterScreen.tsx
  mobile/Quizzard/scripts/reset-project.js
  mobile/Quizzard/tsconfig.json
Labels: priority: moderate, effort: moderate, team: mobile

#299 294 create quiz solving functionality mobile
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/components/QuizSolveQuizHeader.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/mockdata/mockQuizData.tsx
  mobile/Quizzard/mockdata/mockQuizQuestionData.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: priority: moderate, effort: moderate, team: mobile

#318 add forum page, search word, ask question, question details page and fix some minor issues
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/components/HomeScreenQuiz.tsx
  mobile/Quizzard/components/QuestionItem.tsx
  mobile/Quizzard/package-lock.json
  mobile/Quizzard/screens/AuthProvider.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/CreateQuestionScreen.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
  mobile/Quizzard/screens/SearchWordsScreen.tsx
  mobile/Quizzard/tsconfig.json
Labels: team: mobile

#314 Implement Quiz Listing Page
  frontend/src/App.tsx
  frontend/src/components/list-quizzes/featured-quiz-card.tsx
  frontend/src/components/list-quizzes/regular-quiz-card.tsx
  frontend/src/layouts/root-layout.tsx
  frontend/src/pages/add-quiz-page.tsx
  frontend/src/pages/list-quiz-page.tsx
  frontend/src/pages/solve-quiz-page.tsx
  frontend/src/types/question.tsx
  frontend/src/utils/index.ts
Labels: priority: high, effort: high, status: in progress, team: front-end

#328 Backend Quiz POST and GET Endpoints
  backend/pom.xml
  backend/src/main/java/com/quizzard/quizzard/QuizzardApplication.java
  backend/src/main/java/com/quizzard/quizzard/controller/AuthenticationController.java
  backend/src/main/java/com/quizzard/quizzard/controller/QuizController.java
  backend/src/main/java/com/quizzard/quizzard/model/Question.java
  backend/src/main/java/com/quizzard/quizzard/model/QuestionType.java
  backend/src/main/java/com/quizzard/quizzard/model/Quiz.java
  backend/src/main/java/com/quizzard/quizzard/model/User.java
  backend/src/main/java/com/quizzard/quizzard/model/request/CreateQuizRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/QuestionRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/RegisterRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/request/SolveQuizRequest.java
  backend/src/main/java/com/quizzard/quizzard/model/response/QuestionResponse.java
  backend/src/main/java/com/quizzard/quizzard/model/response/QuizResponse.java
  backend/src/main/java/com/quizzard/quizzard/model/response/SolveQuizResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuestionRepository.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuizRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
  backend/src/main/java/com/quizzard/quizzard/service/UserService.java
  doc/api-design.yml
Labels: team: back-end

#327 Update Quiz Creation Page UI
  frontend/src/components/create-quiz/word-input-with-question-template.tsx
  frontend/src/pages/add-quiz-page.tsx
Labels: priority: high, effort: high, team: front-end

#332 Integration For Quiz Related APIs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.tsx
  frontend/src/components/create-quiz/word-input-with-question-template.tsx
  frontend/src/components/list-quizzes/featured-quiz-card.tsx
  frontend/src/components/list-quizzes/regular-quiz-card.tsx
  frontend/src/components/solve-quiz/option.tsx
  frontend/src/components/solve-quiz/quiz-action-button.tsx
  frontend/src/components/solve-quiz/quiz-action-buttons.tsx
  frontend/src/components/solve-quiz/quiz-overview.tsx
  frontend/src/hooks/api/create-quiz.ts
  frontend/src/hooks/api/get-quizzes.ts
  frontend/src/main.tsx
  frontend/src/pages/add-quiz-page.tsx
  frontend/src/pages/list-quiz-page.tsx
  frontend/src/pages/login-page.tsx
  frontend/src/pages/solve-quiz-page.tsx
  frontend/src/types/question.tsx
Labels: priority: urgent, effort: high, team: front-end

#336 Implement API Requests for Mobile
  mobile/Quizzard/app.json
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/babel.config.js
  mobile/Quizzard/components/BaseDropdown.tsx
  mobile/Quizzard/components/CustomModal.tsx
  mobile/Quizzard/components/DifficultyLevelDropdown.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/database/types.ts
  mobile/Quizzard/package-lock.json
  mobile/Quizzard/package.json
  mobile/Quizzard/screens/CreateQuestionScreen.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/LoginScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
  mobile/Quizzard/screens/RegisterScreen.tsx
Labels: priority: high, effort: high, team: mobile

#337 287/mobile features
  mobile/Quizzard/components/QuizSolveQuizHeader.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: team: mobile

#339 Update QuizService.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
Labels: priority: low, effort: low, status: need review

#338 Add mobile instructions
  instructions.md
Labels: team: mobile
