Repository bounswe/bounswe2024group5, pull requests merged in 2024-12, with the labels that each got.

#481 468 add like counts to quiz responses
  backend/src/main/java/com/quizzard/quizzard/model/response/QuizResponse.java
  backend/src/main/java/com/quizzard/quizzard/repository/FavoriteQuizRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
  doc/api-design.yml
Labels: team: back-end

#480 467 prevent scoring on self created quizzes
  backend/src/main/java/com/quizzard/quizzard/model/response/QuizAttemptResponse.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
  backend/src/test/java/com/quizzard/quizzard/service/QuizAttemptServiceTest.java
  doc/api-design.yml
Labels: team: back-end

#479 Restrict quiz scoring to only first attempt
  backend/src/main/java/com/quizzard/quizzard/service/QuizAttemptService.java
  backend/src/test/java/com/quizzard/quizzard/service/QuizAttemptServiceTest.java
Labels: team: back-end

#490 Wikidata usage for hint
  backend/pom.xml
  backend/src/main/java/com/quizzard/quizzard/config/AppConfig.java
  backend/src/main/java/com/quizzard/quizzard/controller/WikidataController.java
  backend/src/main/java/com/quizzard/quizzard/model/response/WikidataResponse.java
  backend/src/main/java/com/quizzard/quizzard/service/WikidataService.java
  doc/api-design.yml
Labels: priority: high, effort: high, status: completed, team: back-end

#514 feat: Add Question Tip Modal
  frontend/src/components/solve-quiz/quiz-action-buttons.tsx
  frontend/src/hooks/api/question-hint.ts
Labels: priority: high, effort: moderate, team: front-end

#515 feat: Difficulty Levels Explanation Tooltip
  frontend/src/layouts/root-layout.tsx
Labels: priority: urgent, effort: moderate, team: front-end

#520 519 implement related quizzes endpoint
  backend/src/main/java/com/quizzard/quizzard/controller/QuizController.java
  backend/src/main/java/com/quizzard/quizzard/repository/QuizRepository.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
  doc/api-design.yml
Labels: team: back-end

#518 feat: "You have already solved this quiz" warning
  frontend/src/pages/solve-quiz-page.tsx
Labels: priority: high, effort: moderate, team: front-end

#523 Consider Question Type When Fetching Question Hint
  frontend/src/components/solve-quiz/quiz-action-buttons.tsx
Labels: priority: urgent, effort: low, team: front-end

#529 Delete Quiz Feature
  frontend/src/components/profile/delete-quiz-button.tsx
  frontend/src/hooks/api/quizzes/delete.ts
  frontend/src/pages/profile-page.tsx
Labels: priority: high, effort: high, team: front-end

#527 Conversion favorite questions into a quiz
  backend/src/main/java/com/quizzard/quizzard/controller/QuizController.java
  backend/src/main/java/com/quizzard/quizzard/model/request/CreateFromFavQuestionToQuizRequest.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
  doc/api-design.yml
Labels: priority: low, effort: low, team: back-end

#524 Quiz Recommendations on Result Page
  frontend/src/App.tsx
  frontend/src/components/list-quizzes/compact-quiz-card.tsx
  frontend/src/components/solve-quiz/quiz-recommendations.tsx
  frontend/src/components/solve-quiz/quiz-result.tsx
  frontend/src/hooks/api/profile/follow-button/delete-following.tsx
  frontend/src/hooks/api/profile/follow-button/get-following.tsx
  frontend/src/hooks/api/profile/follow-button/post-following.tsx
  frontend/src/hooks/api/question-hint.ts
  frontend/src/hooks/api/quizzes/delete.ts
  frontend/src/hooks/api/quizzes/get-related-quizzes.ts
  frontend/src/pages/list-quiz-page.tsx
  frontend/src/pages/solve-quiz-page.tsx
Labels: priority: high, effort: high, team: front-end

#538 Add hint image to quiz solving
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: priority: moderate, effort: low, status: need review, team: mobile

#534 Fix quiz creation endpoints
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: priority: high, status: need review, team: mobile

#543 doc(api): fixed wrong response of /auth/login
  doc/api-design.yml
Labels: bug, type: documentation, priority: low, effort: low, status: completed, team: back-end

#544 chore(back): Fixed the response of GET favorite quiz and question endpoints
  backend/src/main/java/com/quizzard/quizzard/service/FavoriteQuestionService.java
  backend/src/main/java/com/quizzard/quizzard/service/FavoriteQuizService.java
  backend/src/test/java/com/quizzard/quizzard/service/FavoriteQuizServiceTest.java
Labels: priority: low, effort: low, status: completed, team: back-end

#545 489 forum testing for mobile
  mobile/Quizzard/__tests__/ForumScreen.test.js
  mobile/Quizzard/jest-setup.js
  mobile/Quizzard/jest.setup.js
  mobile/Quizzard/mockdata/mockForumData.tsx
  mobile/Quizzard/package-lock.json
  mobile/Quizzard/package.json
  mobile/Quizzard/screens/AuthProvider.tsx
  mobile/Quizzard/screens/CreateQuestionScreen.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/LoginScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/RegisterScreen.tsx
  mobile/Quizzard/screens/SearchResultsScreen.tsx
  mobile/Quizzard/screens/SearchWordsScreen.tsx
Labels: priority: high, effort: moderate, status: in progress, team: mobile

#546 487 implement elo-cefr conversion table in mobile app
  mobile/Quizzard/components/EloCefrInfoTable.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: priority: moderate, effort: low, team: mobile

#550 Hotfix deletequizfunct
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/components/DifficultyLevelDropdown.tsx
  mobile/Quizzard/components/HomeScreenQuiz.tsx
  mobile/Quizzard/components/MyQuizAttemptsView.tsx
  mobile/Quizzard/components/MyQuizzesView.tsx
  mobile/Quizzard/components/QuestionItem.tsx
  mobile/Quizzard/components/QuizSolveQuizHeader.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/CreateQuestionScreen.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/LeaderboardScreen.tsx
  mobile/Quizzard/screens/LoginScreen.tsx
  mobile/Quizzard/screens/OtherUserProfileScreen.tsx
  mobile/Quizzard/screens/ProfileScreen.tsx
  mobile/Quizzard/screens/ProfileSettingsScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/QuizCreationScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
  mobile/Quizzard/screens/QuizWelcomePage.tsx
  mobile/Quizzard/screens/RegisterScreen.tsx
  mobile/Quizzard/screens/SearchResultsScreen.tsx
  mobile/Quizzard/screens/SearchWordsScreen.tsx
Labels: team: mobile

#551 chore(back): fixed small bug in FavoriteQuestionResponse.java
  backend/src/main/java/com/quizzard/quizzard/model/response/FavoriteQuestionResponse.java
Labels: bug

#557 fix: Enable Try Again Button Function
  frontend/src/components/solve-quiz/quiz-result.tsx
  frontend/src/pages/solve-quiz-page.tsx
Labels: bug, priority: urgent, effort: moderate, team: front-end

#558 feat: Spinner on Profile Page
  frontend/src/pages/profile-page.tsx
Labels: bug, priority: urgent, effort: moderate, team: front-end

#530 feat: Leaderboard with Different Categories and Intervals
  frontend/src/App.tsx
  frontend/src/hooks/api/leaderboard/get.ts
  frontend/src/layouts/root-layout.tsx
  frontend/src/pages/leaderboard.tsx
Labels: priority: high, effort: high, team: front-end

#561 485 related posts in forum
  mobile/Quizzard/__tests__/ForumScreen.test.js
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/components/QuestionItem.tsx
  mobile/Quizzard/mockdata/mockForumData.tsx
  mobile/Quizzard/screens/CreateQuestionScreen.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/ProfileScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/SearchResultsScreen.tsx
Labels: priority: high, effort: moderate, status: in progress, team: mobile

#565 509 navigate to others profile
  mobile/Quizzard/app/index.tsx
  mobile/Quizzard/components/QuestionItem.tsx
  mobile/Quizzard/screens/BaseLayout.tsx
  mobile/Quizzard/screens/ForumScreen.tsx
  mobile/Quizzard/screens/ProfileScreen.tsx
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/QuizWelcomePage.tsx
Labels: priority: high, effort: moderate, status: in progress, team: mobile

#564 Modifications on show hint
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: priority: moderate, effort: low, status: need review, team: mobile

#566 Fix quiz creation flatlist
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: priority: high, effort: moderate, status: need review, team: mobile

#563 Favorite questions mobile
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: priority: moderate, effort: low, status: need review, team: mobile

#569 568 favorite quizzes mobile
  mobile/Quizzard/components/MyQuizzesView.tsx
  mobile/Quizzard/components/QuizViewComponent.tsx
  mobile/Quizzard/screens/HomeScreen.tsx
  mobile/Quizzard/screens/OtherUserProfileScreen.tsx
  mobile/Quizzard/screens/ProfileScreen.tsx
  mobile/Quizzard/screens/QuizFinishScreen.tsx
Labels: priority: high, effort: low, team: mobile

#572 Quiz from favorites mobile
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: priority: moderate, effort: low, status: need review, team: mobile

#579 Hotfix quiz solve screen
  mobile/Quizzard/components/QuizSolveQuizHeader.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: priority: high, effort: moderate, team: mobile

#582 fix(backend): fixed difficulty level of quizzes created from favorites
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
Labels: team: back-end

#576 Update from favorites endpoint
  backend/src/main/java/com/quizzard/quizzard/model/request/CreateFromFavQuestionToQuizRequest.java
  backend/src/main/java/com/quizzard/quizzard/service/QuizService.java
  doc/api-design.yml
Labels: priority: low, effort: low, status: completed, team: back-end

#581 Fix CEFR Level Intervals
  frontend/src/components/badges/level.tsx
  frontend/src/layouts/root-layout.tsx
  frontend/src/pages/list-quiz-page.tsx
Labels: priority: urgent, team: front-end

#585 Hotfix: Minor elo conversion issue
  mobile/Quizzard/components/EloCefrInfoTable.tsx
Labels: team: mobile

#536 feat: Autofill Button on Quiz Creation Page
  frontend/src/App.tsx
  frontend/src/components/create-quiz/correct-answer-input.tsx
  frontend/src/hooks/api/questions-answers/get-suggestions.ts
  frontend/src/pages/add-quiz-page.tsx
Labels: priority: high, team: front-end

#593 Hotfix quiz solve & forum reply
  mobile/Quizzard/database/types.ts
  mobile/Quizzard/screens/QuestionDetailScreen.tsx
  mobile/Quizzard/screens/QuizSolvingScreen.tsx
Labels: team: mobile

#590 Quiz creation fixes
  mobile/Quizzard/screens/QuizCreationScreen.tsx
Labels: priority: high, effort: moderate, status: need review, team: mobile

#595 test(back): added some unit tests
  backend/src/main/java/com/quizzard/quizzard/model/response/WikidataResponse.java
  backend/src/main/java/com/quizzard/quizzard/service/WikidataService.java
  backend/src/test/java/com/quizzard/quizzard/service/FavoriteQuestionServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/FeedServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/FileUploadServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/FollowingServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/LeaderboardServiceTest.java
  backend/src/test/java/com/quizzard/quizzard/service/WikidataServiceTest.java
Labels: priority: moderate, effort: moderate, status: completed, team: back-end, type: testing

#619 Add postman collection
  doc/quizzard.postman_collection.json
Labels: type: documentation

#624 add additional responses
  mobile/Quizzard/screens/LoginScreen.tsx
  mobile/Quizzard/screens/RegisterScreen.tsx
Labels: team: mobile
