Repository bounswe/bounswe2024group5, pull requests merged in 2024-05, with the labels that each got.

#196 193 backend add post functionalities
  backend/pom.xml
  backend/src/main/java/com/melodify/melodify/controller/PostController.java
  backend/src/main/java/com/melodify/melodify/model/Post.java
  backend/src/main/java/com/melodify/melodify/model/Tag.java
  backend/src/main/java/com/melodify/melodify/model/request/PostCreateRequest.java
  backend/src/main/java/com/melodify/melodify/model/request/PostUpdateRequest.java
  backend/src/main/java/com/melodify/melodify/model/response/PostResponse.java
  backend/src/main/java/com/melodify/melodify/repository/PostRepository.java
  backend/src/main/java/com/melodify/melodify/repository/TagRepository.java
  backend/src/main/java/com/melodify/melodify/service/PostService.java
  backend/src/main/java/com/melodify/melodify/service/TagService.java
  backend/src/main/java/com/melodify/melodify/service/UserService.java
  database/migrations/202404242103_init.sql
  doc/api-doc.yml
Labels: team: back-end

#203 Add/mobile post
  mobile/instructions.md
  mobile/melodify/App.tsx
  mobile/melodify/assets/content.jpg
  mobile/melodify/assets/pp.jpg
  mobile/melodify/assets/pp2.jpeg
  mobile/melodify/components/Post.tsx
  mobile/melodify/index.d.ts
  mobile/melodify/package-lock.json
  mobile/melodify/package.json
  mobile/melodify/screens/CommentScreen.tsx
  mobile/melodify/screens/CreatePostScreen.tsx
  mobile/melodify/screens/FeedPage.tsx
Labels: team: mobile

#212 Added file upload functionality
  backend/.gitignore
  backend/pom.xml
  backend/src/main/java/com/melodify/melodify/FileUploadConfig.java
  backend/src/main/java/com/melodify/melodify/controller/FileUploadController.java
  backend/src/main/java/com/melodify/melodify/service/FileUploadService.java
  backend/src/main/resources/application.properties
  doc/api-doc.yml
  docker-compose.yml
  index.html
Labels: priority: moderate, effort: moderate, status: need review, team: back-end

#220 Update docker-compose.yml
  docker-compose.yml
Labels: team: back-end

#224 Mobile connection between pages
  mobile/melodify/App.tsx
  mobile/melodify/components/Post.tsx
  mobile/melodify/database/types.ts
  mobile/melodify/screens/CommentScreen.tsx
  mobile/melodify/screens/CreatePostScreen.tsx
  mobile/melodify/screens/FeedPage.tsx
  mobile/melodify/screens/LoginScreen.tsx
  mobile/melodify/screens/ProfilePage.tsx
  mobile/melodify/screens/SearchResultPage.tsx
  mobile/melodify/screens/SeePostScreen.tsx
Labels: team: mobile

#232 Mobile final fixes
  mobile/melodify/components/Post.tsx
  mobile/melodify/screens/FeedPage.tsx
  mobile/melodify/screens/LoginScreen.tsx
  mobile/melodify/screens/ProfilePage.tsx
  mobile/melodify/screens/ProfileSettingsScreen.tsx
  mobile/melodify/screens/SeePostScreen.tsx
Labels: team: mobile

#244 Added Unit Tests for Post Service
  backend/src/main/java/com/melodify/melodify/model/Post.java
  backend/src/test/java/com/melodify/melodify/service/PostServiceTest.java
Labels: team: back-end
